.container{
    min-width: 100%;
    min-height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    background: rgb(236, 235, 235);
    background-size: cover;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 90%;
  }
.table-container{
  width: 90%;
}
.pointer{
  cursor: pointer;
  padding: 0 10px 0 0;
  text-decoration: underline;
}

.td_acciones{
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: flex-end !important;
  
}
.filter_add{
  width: 100%;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}
.filter_add .input{
  width: 40% !important;
  
}
.filter_add .btns{
  
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search{
  display: flex;
  align-items: center;
  
}